### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data = purchase_data.dropna(how="any")

purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data.groupby(["SN"]))

summary_total = pd.DataFrame({"Total players": [total_players]})
summary_total

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_unique_items = len(purchase_data.groupby(["Item ID"]))
average_price = purchase_data["Price"].mean()
num_purchases = len(purchase_data["Purchase ID"])
total_revenue = purchase_data["Price"].sum()

summary = pd.DataFrame({"Number of Unique Items": [num_unique_items], 
                        "Average Price": ["${:,.2f}".format(average_price)],
                        "Number of Purchases": [num_purchases], 
                        "Total Revenue": ["${:,.2f}".format(total_revenue)]})
summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
total = len(purchase_data.groupby(["SN"]))

female_group_aux = purchase_data.loc[purchase_data["Gender"] == "Female"]
male_group_aux = purchase_data.loc[purchase_data["Gender"] == "Male"]
other_group_aux = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

m_total_count = len(male_group_aux.groupby(["SN"]))
f_total_count = len(female_group_aux.groupby(["SN"]))
o_total_count = len(other_group_aux.groupby(["SN"]))

m_percentage = (m_total_count * 100) / total
f_percentage = (f_total_count * 100) / total
o_percentage = (o_total_count * 100) / total

summary_gender = pd.DataFrame( {
    "Total Count": {
        "Male": m_total_count, 
        "Female": f_total_count, 
        "Other / Non-Disclosed": o_total_count
    }, 
    "Percentage of Players": {
        "Male": "{:,.2f}%".format(m_percentage), 
        "Female": "{:,.2f}%".format(f_percentage), 
        "Other / Non-Disclosed": "{:,.2f}%".format(o_percentage)
    }
})

summary_gender

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
f_purchase_count = len(female_group_aux)
m_purchase_count = len(male_group_aux)
o_purchase_count = len(other_group_aux)

f_avg_purchase_price = female_group_aux["Price"].mean()
m_avg_purchase_price = male_group_aux["Price"].mean()
o_avg_purchase_price = other_group_aux["Price"].mean()

f_total_purchase_value = female_group_aux["Price"].sum()
m_total_purchase_value = male_group_aux["Price"].sum()
o_total_purchase_value = other_group_aux["Price"].sum()

f_avg_total_purchase_pp = female_group_aux.groupby(["SN"])["Price"].sum().mean()
m_avg_total_purchase_pp = male_group_aux.groupby(["SN"])["Price"].sum().mean()
o_avg_total_purchase_pp = other_group_aux.groupby(["SN"])["Price"].sum().mean()

summary_purchase = pd.DataFrame( {
    "Purchase Count": {
        "Female": f_purchase_count, 
        "Male": m_purchase_count, 
        "Other / Non-Disclosed": o_purchase_count
    }, 
    "Average Purchase Price": {
        "Female": "${:,.2f}".format(f_avg_purchase_price), 
        "Male": "${:,.2f}".format(m_avg_purchase_price), 
        "Other / Non-Disclosed": "${:,.2f}".format(o_avg_purchase_price)
    }, 
    "Total Purchase Value": {
        "Female": "${:,.2f}".format(f_total_purchase_value), 
        "Male": "${:,.2f}".format(m_total_purchase_value), 
        "Other / Non-Disclosed": "${:,.2f}".format(o_total_purchase_value)
    }, 
    "Avg Total Purchase per Person": {
        "Female": "${:,.2f}".format(f_avg_total_purchase_pp), 
        "Male": "${:,.2f}".format(m_avg_total_purchase_pp), 
        "Other / Non-Disclosed": "${:,.2f}".format(o_avg_total_purchase_pp)
    }
})

summary_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

summary_age_dem = purchase_data.copy() 
summary_age_dem["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
summary_age_grouped = summary_age_dem.groupby(["Age Range"])

summary_by_age_range = pd.DataFrame(summary_age_grouped["Purchase ID"].count())
summary_by_age_range = summary_by_age_range.rename(columns={"Purchase ID": "Total Count"})
summary_by_age_range["Percentage of Players"] = summary_by_age_range["Total Count"] / len(purchase_data) * 100
summary_by_age_range["Percentage of Players"] = summary_by_age_range.apply(lambda x: "{:,.2f}%".format(x["Percentage of Players"]), axis=1)

summary_by_age_range

           Total Count Percentage of Players
Age Range
<10                 23                 2.95%
10-14               28                 3.59%
15-19              136                17.44%
20-24              365                46.79%
25-29              101                12.95%
30-34               73                 9.36%
35-39               41                 5.26%
40+                 13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
summary_age_grouped_2 = summary_age_dem.groupby(["Age Range"])


purchase_count = pd.DataFrame(summary_age_grouped_2["Price"].count())
purchase_count = purchase_count.rename(columns={"Price": "Purchase Count"})

average_purchase_price_df = pd.DataFrame(summary_age_grouped_2["Price"].mean())
average_purchase_price_df = average_purchase_price_df.rename(columns={"Price": "Average Purchase Price"})

total_purchase_value = pd.DataFrame(summary_age_grouped_2["Price"].sum())
total_purchase_value = total_purchase_value.rename(columns={"Price": "Total Purchase Value"})

#total_purchase_pp =pd.DataFrame(summary_age_dem.groupby(["SN"])["Price"].mean())
#total_purchase_pp = total_purchase_pp.rename(columns={"Price": "Avg Total Purchase per Person"})

summary_merged = pd.merge(purchase_count, average_purchase_price_df, on="Age Range")
summary_merged = pd.merge(summary_merged, total_purchase_value, on="Age Range")
#summary_merged = pd.merge(summary_merged, total_purchase_pp, on="SN")

summary_merged
#total_purchase_pp

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    23                3.353478                 77.13
10-14                  28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
summary_top_sender_1 = pd.DataFrame(summary_age_dem.groupby(["SN"]).sum()["Price"])
summary_top_sender_1 = summary_top_sender_1.rename(columns={"Price": "Total Purchase Value"})

summary_top_sender_2 = pd.DataFrame(summary_age_dem.groupby(["SN"]).count()["Purchase ID"])
summary_top_sender_2 = summary_top_sender_2.rename(columns={"Purchase ID": "Purchase Count"})

summary_top_sender_3 = pd.DataFrame(summary_age_dem.groupby(["SN"]).mean()["Price"])
summary_top_sender_3 = summary_top_sender_3.rename(columns={"Price": "Average Purchase Price"})

summary_top_merged = pd.merge(summary_top_sender_2, summary_top_sender_3, on="SN")
summary_top_merged = pd.merge(summary_top_merged, summary_top_sender_1, on="SN")

summary_top_merged_head = pd.DataFrame(summary_top_merged)
summary_top_formated = summary_top_merged_head.sort_values(["Total Purchase Value"], ascending=False).head(5)

summary_top_formated["Average Purchase Price"] = summary_top_formated.apply(lambda x: "${:,.2f}".format(x["Average Purchase Price"]), axis=1)
summary_top_formated["Total Purchase Value"] = summary_top_formated.apply(lambda x: "${:,.2f}".format(x["Total Purchase Value"]), axis=1)
summary_top_formated

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:
# Step 1. Retrieve the Item ID, Item Name, and Item Price columns
most_popular_items = summary_age_dem[["Item ID", "Item Name", "Price"]]

# Step 2. Group by Item ID and Item Name. 
#         Perform calculations to obtain purchase count, average item price, and total purchase value
mpi_groupby = most_popular_items.groupby(["Item ID", "Item Name"])

mpi_purchase_count = mpi_groupby.count()["Price"]
mpi_average_item_price = mpi_groupby.mean()["Price"]
mpi_total_purchase_value = mpi_groupby.sum()["Price"]

# Step 3. Create a summary data frame to hold the results
mpi_summary = pd.DataFrame({
    "Purchase count": mpi_purchase_count,
    "Average item price": mpi_average_item_price,
    "Total purchase value": mpi_total_purchase_value
})

# Step 4. Sort the purchase count column in descending order
mpi_summary_sorted = mpi_summary.sort_values(["Purchase count"], ascending=False)

# Step 5. Optional: give the displayed data cleaner formatting
mpi_summary_sorted["Average item price"] = mpi_summary_sorted.apply(lambda x: "${:,.2f}".format(x["Average item price"]), axis=1)
mpi_summary_sorted["Total purchase value"] = mpi_summary_sorted.apply(lambda x: "${:,.2f}".format(x["Total purchase value"]), axis=1)

# Step 6. Display a preview of the summary data frame
mpi_summary_sorted.head(10)

,,Purchase count,Average item price,Total purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [71]:
# Step 1. Sort the above table by total purchase value in descending order
most_profitable_items = mpi_summary.sort_values(["Total purchase value"], ascending=False)

# Step 5. Optional: give the displayed data cleaner formatting
most_profitable_items["Average item price"] = most_profitable_items.apply(lambda x: "${:,.2f}".format(x["Average item price"]), axis=1)
most_profitable_items["Total purchase value"] = most_profitable_items.apply(lambda x: "${:,.2f}".format(x["Total purchase value"]), axis=1)

# Step 3. Display a preview of the data frame
most_profitable_items.head(5)

,,Purchase count,Average item price,Total purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80