### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [106]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data = purchase_data.dropna(how="any")

purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

* Display the total number of players

In [107]:
player_count = len(purchase_data.groupby(["SN"]))

player_count_df = pd.DataFrame({"Total players": [player_count]})
player_count_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [108]:
# Step 1. Run basic calculations to obtain number of unique items, average price, etc.
num_unique_items = len(purchase_data.groupby(["Item ID"]))
average_price = purchase_data["Price"].mean()
num_purchases = len(purchase_data["Purchase ID"])
total_revenue = purchase_data["Price"].sum()

# Step 2. Create a summary data frame to hold the results
# Step 3. Optional: give the displayed data cleaner formatting
summary = pd.DataFrame({"Number of Unique Items": [num_unique_items], 
                        "Average Price": ["${:,.2f}".format(average_price)],
                        "Number of Purchases": [num_purchases], 
                        "Total Revenue": ["${:,.2f}".format(total_revenue)]})

# Step 4. Display the summary data frame
summary.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [109]:
total = len(purchase_data.groupby(["SN"]))

female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
other_plyers = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]

m_total_count = len(male_players.groupby(["SN"]))
f_total_count = len(female_players.groupby(["SN"]))
o_total_count = len(other_plyers.groupby(["SN"]))

m_percentage = (m_total_count * 100) / total
f_percentage = (f_total_count * 100) / total
o_percentage = (o_total_count * 100) / total

summary_gender = pd.DataFrame( {
    "Total Count": {
        "Male": m_total_count, 
        "Female": f_total_count, 
        "Other / Non-Disclosed": o_total_count
    }, 
    "Percentage of Players": {
        "Male": "{:,.2f}%".format(m_percentage), 
        "Female": "{:,.2f}%".format(f_percentage), 
        "Other / Non-Disclosed": "{:,.2f}%".format(o_percentage)
    }
})

summary_gender

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
# Step 1. Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count_f = len(female_players)
purchase_count_m = len(male_players)
purchase_count_o = len(other_plyers)

avg_purchase_price_f = female_players["Price"].mean()
avg_purchase_price_m = male_players["Price"].mean()
avg_purchase_price_o = other_plyers["Price"].mean()

total_purchase_value_f = female_players["Price"].sum()
total_purchase_value_m = male_players["Price"].sum()
total_purchase_value_o = other_plyers["Price"].sum()

avg_total_purchase_pp_f = female_players.groupby(["SN"])["Price"].sum().mean()
avg_total_purchase_pp_m = male_players.groupby(["SN"])["Price"].sum().mean()
avg_total_purchase_pp_o = other_plyers.groupby(["SN"])["Price"].sum().mean()

# Step 2. Create a summary data frame to hold the results
# Step 3. Optional: give the displayed data cleaner formatting
summary_purchase = pd.DataFrame( {
    "Purchase Count": {
        "Female": purchase_count_f, 
        "Male": purchase_count_m, 
        "Other / Non-Disclosed": purchase_count_o
    }, 
    "Average Purchase Price": {
        "Female": "${:,.2f}".format(avg_purchase_price_f), 
        "Male": "${:,.2f}".format(avg_purchase_price_m), 
        "Other / Non-Disclosed": "${:,.2f}".format(avg_purchase_price_o)
    }, 
    "Total Purchase Value": {
        "Female": "${:,.2f}".format(total_purchase_value_f), 
        "Male": "${:,.2f}".format(total_purchase_value_m), 
        "Other / Non-Disclosed": "${:,.2f}".format(total_purchase_value_o)
    }, 
    "Avg Total Purchase per Person": {
        "Female": "${:,.2f}".format(avg_total_purchase_pp_f), 
        "Male": "${:,.2f}".format(avg_total_purchase_pp_m), 
        "Other / Non-Disclosed": "${:,.2f}".format(avg_total_purchase_pp_o)
    }
})

# Step 4. Display the summary data frame
summary_purchase.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [120]:
# Step 1. Establish bins for ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Step 2. Categorize the existing players using the age bins
summary_age_dem = purchase_data.copy() 
summary_age_dem["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

# Step 3. Calculate the numbers and percentages by age group
summary_age_grouped = summary_age_dem.groupby(["Age Range"])

# Step 4. Create a summary data frame to hold the results
summary_by_age_range = pd.DataFrame(summary_age_grouped["Purchase ID"].count())
summary_by_age_range = summary_by_age_range.rename(columns={"Purchase ID": "Total Count"})
summary_by_age_range["Percentage of Players"] = (summary_by_age_range["Total Count"] / len(purchase_data)) * 100

# Step 5. Optional: round the percentage column to two decimal points
summary_by_age_range["Percentage of Players"] = summary_by_age_range.apply(lambda x: "{:,.2f}%".format(x["Percentage of Players"]), axis=1)

# Step 6. Display Age Demographics Table
summary_by_age_range

           Total Count Percentage of Players
Age Range
<10                 23                 2.95%
10-14               28                 3.59%
15-19              136                17.44%
20-24              365                46.79%
25-29              101                12.95%
30-34               73                 9.36%
35-39               41                 5.26%
40+                 13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [246]:
# Step 1. Bin the purchase_data data frame by age
# Using previous data frame

# Step 2. Run basic calculations to obtain:
summary_age_groupby_range = summary_age_dem.groupby(["Age Range"])

#   purchase count
purchase_count = pd.DataFrame(summary_age_groupby_range["Price"].count())
purchase_count = purchase_count.rename(columns={"Price": "Purchase Count"})

#   avg. purchase price
average_purchase_price_df = pd.DataFrame(summary_age_groupby_range["Price"].mean())
average_purchase_price_df = average_purchase_price_df.rename(columns={"Price": "Average Purchase Price"})

#   avg. purchase total
total_purchase_value = pd.DataFrame(summary_age_groupby_range["Price"].sum())
total_purchase_value = total_purchase_value.rename(columns={"Price": "Total Purchase Value"})

#   avg. purchase per person
summary_age_groupby_agesn = pd.DataFrame(summary_age_dem.groupby(["Age", "SN"]).sum()["Price"].reset_index())
summary_age_groupby_agesn = summary_age_groupby_agesn.rename(columns={"Price": "Avg Total Purchase per Person"})

avg_purchase_per_person = summary_age_groupby_agesn.copy() 
avg_purchase_per_person["Age Range"] = pd.cut(summary_age_groupby_agesn["Age"], bins, labels=group_names, include_lowest=True)

avg_purchase_per_person = avg_purchase_per_person.groupby(["Age Range"]).mean().reset_index()
avg_purchase_per_person = avg_purchase_per_person[["Age Range", "Avg Total Purchase per Person"]]

# Step 3. Create a summary data frame to hold the results
purchasing_analysis = pd.merge(purchase_count, average_purchase_price_df, on="Age Range")
purchasing_analysis = pd.merge(purchasing_analysis, total_purchase_value, on="Age Range")
purchasing_analysis = pd.merge(purchasing_analysis, avg_purchase_per_person, on="Age Range")

# Step 4. Optional: give the displayed data cleaner formatting
purchasing_analysis["Average Purchase Price"] = purchasing_analysis.apply(lambda x: "${:,.2f}".format(x["Average Purchase Price"]), axis=1)
purchasing_analysis["Total Purchase Value"] = purchasing_analysis.apply(lambda x: "${:,.2f}".format(x["Total Purchase Value"]), axis=1)
purchasing_analysis["Avg Total Purchase per Person"] = purchasing_analysis.apply(lambda x: "${:,.2f}".format(x["Avg Total Purchase per Person"]), axis=1)

# Step 5. Display the summary data frame
purchasing_analysis

,Age Range,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,$4.54
1,10-14,28,$2.96,$82.78,$3.76
2,15-19,136,$3.04,$412.89,$3.86
3,20-24,365,$3.05,"$1,114.06",$4.32
4,25-29,101,$2.90,$293.00,$3.81
5,30-34,73,$2.93,$214.00,$4.12
6,35-39,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
# Step 1. Run basic calculations to obtain the results in the table below
demographics_sum = pd.DataFrame(summary_age_dem.groupby(["SN"]).sum()["Price"])
top_senders_value = demographics_sum.rename(columns={"Price": "Total Purchase Value"})

demographics_count = pd.DataFrame(summary_age_dem.groupby(["SN"]).count()["Purchase ID"])
top_spenders_count = demographics_count.rename(columns={"Purchase ID": "Purchase Count"})

demographics_mean = pd.DataFrame(summary_age_dem.groupby(["SN"]).mean()["Price"])
top_spenders_price = demographics_mean.rename(columns={"Price": "Average Purchase Price"})

# Step 2. Create a summary data frame to hold the results
top_spenders_merged = pd.merge(top_spenders_count, top_spenders_price, on="SN")
top_spenders_merged = pd.merge(top_spenders_merged, top_senders_value, on="SN")

summary_top_spenders = pd.DataFrame(top_spenders_merged)

# Step 3. Sort the total purchase value column in descending order
summary_top_spenders = summary_top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Step 4. Optional: give the displayed data cleaner formatting
summary_top_spenders["Average Purchase Price"] = summary_top_spenders.apply(lambda x: "${:,.2f}".format(x["Average Purchase Price"]), axis=1)
summary_top_spenders["Total Purchase Value"] = summary_top_spenders.apply(lambda x: "${:,.2f}".format(x["Total Purchase Value"]), axis=1)

# Step 5. Display a preview of the summary data frame
summary_top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
# Step 1. Retrieve the Item ID, Item Name, and Item Price columns
mpi_items = summary_age_dem[["Item ID", "Item Name", "Price"]]

# Step 2. Group by Item ID and Item Name. 
#         Perform calculations to obtain purchase count, average item price, and total purchase value
mpi_groupby = mpi_items.groupby(["Item ID", "Item Name"])

mpi_purchase_count = mpi_groupby.count()["Price"]
mpi_average_item_price = mpi_groupby.mean()["Price"]
mpi_total_purchase_value = mpi_groupby.sum()["Price"]

# Step 3. Create a summary data frame to hold the results
mpi_summary = pd.DataFrame({
    "Purchase count": mpi_purchase_count,
    "Average item price": mpi_average_item_price,
    "Total purchase value": mpi_total_purchase_value
})

# Step 4. Sort the purchase count column in descending order
most_popular_items = mpi_summary.sort_values(["Purchase count"], ascending=False)

# Step 5. Optional: give the displayed data cleaner formatting
most_popular_items["Average item price"] = most_popular_items.apply(lambda x: "${:,.2f}".format(x["Average item price"]), axis=1)
most_popular_items["Total purchase value"] = most_popular_items.apply(lambda x: "${:,.2f}".format(x["Total purchase value"]), axis=1)

# Step 6. Display a preview of the summary data frame
most_popular_items.head(10)

,,Purchase count,Average item price,Total purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [115]:
# Step 1. Sort the above table by total purchase value in descending order
most_profitable_items = mpi_summary.sort_values(["Total purchase value"], ascending=False)

# Step 5. Optional: give the displayed data cleaner formatting
most_profitable_items["Average item price"] = most_profitable_items.apply(lambda x: "${:,.2f}".format(x["Average item price"]), axis=1)
most_profitable_items["Total purchase value"] = most_profitable_items.apply(lambda x: "${:,.2f}".format(x["Total purchase value"]), axis=1)

# Step 3. Display a preview of the data frame
most_profitable_items.head(5)

,,Purchase count,Average item price,Total purchase value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80